.tabs-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.tabs {
  overflow: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 20px;
  padding: 20px 12px;
  cursor: pointer;
  border-radius: 15px;
  color: #787777;
  background-color: #f6f6f6;
  transition: background-color 0.3s;
  font-size: 10px;
}

.tab.selected {
  background-color: #a4acf4;
  color: #414db1;
}

@media (max-width: 370px) {
  .tabs {
    overflow: scroll;
    gap: 10px;
    justify-content: start;
  }
  .tab {
    padding: 15px 10px;
  }
}

@media (min-width: 370px) and (max-width: 670px) {
  .tab {
    border-radius: 20px;
    font-size: 13px;
  }
  .tabs {
    overflow: scroll;
    gap: 10px;
    justify-content: start;
  }
}

@media (min-width: 670px) {
  .tab {
    border-radius: 25px;
    font-size: 17px;
  }
  .tabs {
    justify-content: start;
    gap: 20px;
  }
}
