footer {
  background-color: #414db1;
  padding: 10px;
  text-align: center;
  margin-top: 4%;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.footer-img {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img img {
  width: 13%;
  position: absolute;
  left: 20px;
}

.footer-p {
  color: #f0f8ff;
  font-size: 15px;
  margin-left: 5%;
  text-align: center;
}

.Copyright {
  color: aliceblue;
  font-size: 14px;
  padding-top: 1.5%;
  text-align: center;
}

@media (max-width: 480px) {
  .footer-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer-img img {
    width: 40%;
    margin-bottom: 5px;
  }
  .footer-p {
    font-size: 0.7rem;
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  .Copyright {
    font-size: 0.9rem;
  }
}
@media (min-width: 481px) and (max-width: 1200px) {
  .footer-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer-img img {
    position: relative;
    width: 30%;
    margin-bottom: 5px;
  }
  .footer-p {
    font-size: 0.6rem;
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  .Copyright {
    font-size: 0.9rem;
  }
}
