.tabs-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tab {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 15px;
  border: #342d85 solid 1px;
  transition: background-color 0.3s;
  font-size: 10px;
}

.tab.selected {
  background-color: #342d85;
  color: white;
  font-weight: bold;
}

@media (max-width: 370px) {
  .tabs {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
  }
}

@media (min-width: 450px) and (max-width: 670px) {
  .tab {
    border-radius: 20px;
    font-size: 13px;
  }
}

@media (min-width: 670px) {
  .tab {
    border-radius: 25px;
    font-size: 13px;
  }
  .tabs {
    justify-content: start;
    gap: 20px;
  }
}
