.link {
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.llink {
  margin: 0px 10px;
  color: #414db1;
  cursor: pointer;
  font-weight: 550;
  font-size: 20px;

  text-decoration: inherit; /* no underline */
}

.selected {
  color: #414db1;
  font-weight: 650;
}
